config wifi-device 'radio0'
	option type 'mac80211'
	option channel '1'
	option hwmode '11g'
	option path 'platform/soc/18000000.wifi+1'
	option htmode 'HT20'
	option disabled '0'

config wifi-iface 'mesh2'
	option device 'radio0'
	option mode 'mesh'
	option mesh_id 'meshparty'
	option mesh_fwding '1'
    option encryption 'sae'
    option key '{{ meshApPass }}'
	option network 'mesh0'

config wifi-iface 'ap2'
	option device 'radio0'
	option mode 'ap'
	option ssid 'stayclassy'
	option encryption 'psk2'
	option key '{{ meshApPass }}'
	option network 'lan'
	option ieee80211r '1'
	option mobility_domain '4f57'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'

config wifi-device 'radio1'
	option type 'mac80211'
	option channel '36'
	option hwmode '11a'
	option path 'platform/soc/18000000.wifi'
	option htmode 'VHT80'
	option disabled '0'

config wifi-iface 'mesh5'
	option device 'radio1'
	option mode 'mesh'
	option mesh_id 'meshparty'
	option mesh_fwding '1'
    option encryption 'sae'
    option key '{{ meshApPass }}'
	option network 'mesh0'

config wifi-iface 'ap5'
	option device 'radio1'
	option mode 'ap'
	option ssid 'stayclassy5g'
	option encryption 'psk2'
	option key '{{ meshApPass }}'
	option network 'lan'
	option ieee80211r '1'
	option mobility_domain '4f57'
	option ft_over_ds '1'
	option ft_psk_generate_local '1'