config interface 'lan'
	option type 'bridge'
	option ifname 'eth0 bat0'
	option proto 'static'
	option ipaddr '{{ inventory_hostname }}'  # Adjust per node
	option netmask '255.255.255.0'
	option gateway '192.168.1.1'
	option dns '192.168.1.1'

config interface 'mesh0'
	option proto 'batadv'
	option mesh 'bat0'

config interface 'bat0'
	option proto 'none'
	option ifname 'bat0'
	option auto '1'